// hero section started
.hero__inner{
    background-image: url("../images/about_bg.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top center;
    padding: 117px 0px 117px 85px;
    border-radius: 10px;
}
.hero__content{
    width: 100%;
    max-width: 490px;
}
.hero__title{
    font-family: 'Fraunces';
    font-style: normal;
    margin: 0px;
    padding-bottom: 24px;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px; 
    color: #FEFCF7;
}
.hero__text{
    font-family: 'Barlow';
    margin: 0px;
    padding-bottom: 56px;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
}
@media only screen and (max-width:768px) {
    .hero__inner{
        background-image: url("../images/bg.jpg");
        background-size:690px 400px ;
    }
    .hero__title{
        width: 150px;
        font-size: 32px;
    line-height: 40px;
    }   
    .hero__text{
        font-size: 15px;
line-height: 25px;
    }
}
.hero__link{
    padding: 15px 32px;
    background: #0E8784;
    border-radius: 6px;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FEFCF7;
    text-decoration: none;
    &:hover{
        background: #66D2CF;
        color: #FEFCF7;   
    }
}

@media only screen and (max-width:576px) {
    .hero__inner{
        padding: 111px 24px 87px 24px;
        background-image: url("../images/about-mob.jpg");
        background-size: 100%;
    }
    .hero__content{
        max-width: 279px;
    }
    .hero__title{
        margin: 0 auto;
        font-size: 28px;
        line-height: 28px;
        text-align: center;
    }
    .hero__text{
        font-size: 15px;
        line-height: 25px;
        text-align: center;
    }
    .hero__link{
        font-size: 18px;
        line-height: 20px;
    }
}
@media only screen and (max-width:375px) {
    .hero__inner{
        padding-top:60px;
    }
}